/* Estilos generales del footer */
.footer {
    background-color: #003973;
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    justify-content: center;
    align-items: center;
    text-justify: center;
    width: 30%;
    margin-bottom: 30px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #C7893E;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #ccc;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
}