.scrolled {
    height: 45px;
    display: flex;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255);

}

.scrolled2 {
    height: 10px;
    display: flex;
}

.logo #iso {
    height: 40px;
    width: auto;
    
}


@font-face {
    font-family: 'Ludotek';
    src: url(/Proyectos/ludotek/LUDETEK\ MAYUS.otf) format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

}




body {
    display: block;
    height: 100vh;
}

header {

    margin-top: 0px;


    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    position: fixed;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: solid 1px #1C3C6D;
    align-items: center;
    z-index: 1000;

    transition: height 0.3s ease;
}

.container-logo {
    height: 80px;
}

.container-logo .logo {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo img {
    width: auto;
    height: 50px;
    display: block;
}



.logo .fono {
    height: 30px;
    margin-left: 25px;
}

.menu-bar {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

ul {
    display: flex;
}

a {
    display: flex;
    background-color: transparent;
    align-items: center;
    font-size: 16px;
    padding: 10px 20px;
    margin: 1px 3px;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

li {
    text-decoration: none;
    display: flex;
    transition: .05s;
}



header li a:hover {
    color: rgb(0, 0, 0);
    font-weight: 800;
    transition: .2s;
    transition: all 0.5s ease 0.1s;
    border-bottom-color: 2px solid #C48B3F!important;
    box-shadow: 0px 8px 16px rgb(199, 137, 62);
    font-weight: 800;
}


#hambur {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    padding: 5px 10px;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    background-color: #1C3C6D;
    color: white;
    text-decoration: none;
    transition: 0.2s;

}
#hambur:hover {
    transition: 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    background-color: #1C3C6D;
    color: white;
    font-weight: 600;
}




img {
    display: block;
    transform: scale(0.95);
    transition: .9s all;
    scroll-behavior: auto;
    overflow-y: auto;
    width: 90%;

}







































nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    position: relative;
}

nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #666;
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

nav li:hover>ul {
    display: block;
}

nav ul ul li {
    width: 100%;
}

nav ul ul li a {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

nav ul ul li a:hover {
    background-color: #f0f0f0;
}



















@media only screen and (max-width: 500px) {
    header .fono {
        display: none;
    }


}

@media only screen and (max-width: 900px) {
    .menu-bar {
        display: none;
    }


    #hambur {
        display: flex;
    }

    .menu-bar {}


}