
/*SECCION ANIMADA DE ESPIRAL*/

section.anima {
    height: 35%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003973;
    overflow: hidden;
    font-size: 62.5%
}

/* The @property CSS at-rule is part of the CSS Houdini umbrella of APIs. It */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@font-face {
    font-family: 'Ludotek';
    src: url(/Proyectos/ludotek/LUDETEK\ MAYUS.otf) format('truetype');
}

.spiral {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    color: #e0ecef;
}

@keyframes spiral {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}

.character {
    font-family: 'Ludotek';

    font-size: 1.8rem;
    color: #C7893E;
    text-transform: uppercase;
    transform: translateY(calc(sin(var(--angle)) * 100px)) scale(calc(cos(var(--angle)) * 0.5 + 0.5));
    animation: spiral 4s linear infinite;
}

@media (max-width: 490px) {
    .character {
        font-size: 1.2rem
    }
}


