* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'ludotek';
    src: url(/tipografias/LUDETEK\ MAYUS.otf) format('truetype');
}

@font-face {
    font-family: 'sourceSansProLight';
    src: url(/tipografias/SourceSansPro-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'sourceSansProRegular';
    src: url(/tipografias/SourceSansPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'sourceSansProBold';
    src: url(/tipografias/SourceSansPro-Bold.ttf) format('truetype');
}

:root {
    --color-blue: #003973;
    --color-dorado: #C7893E;


}



h1 {
    font-family: "sourceSansProBold";
}

h2 {
    font-family: 'ludotek';
    color: var(--color-blue);
    text-align: center;
    line-height: 35px;
}

/* h3 heredará la fuente general definida en body o en el contenedor */
h3 {
    font-family: 'sourceSansProBold';
    color: var(--color-blue);
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

h4 {
    font-family: "sourceSansProRegular";
}

p {
    color: #333;
    font-size: 16px;
    font-family: "sourceSansProRegular";
}













body {
    display: block;
    height: 100vh;
    background-color: white;
}



h2 {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.modelado {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.container-modelado {
    display: block;
}

.container-iframe {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
}


.container-iframe spline-viewer {
    display: flex;
    width: 80%;
    height: 500px;
    transition: 0.2s;

}










/* Estilos generales */
.info {
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container:nth-child(even) {
    flex-direction: row-reverse;

}

.image-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text-container {
    display: block;
    width: 50%;
    padding: 10px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.text-container p {
    font-family: "sourceSansProRegular";
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #333;
    padding: 25px;
}

.text-container h3 {
    font-family: 'sourceSansProBold';
    color: var(--color-blue);
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'sourceSansProBold';
}












@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .image-container,
    .text-container {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .image-container,
    .text-container {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container,
    .text-container {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 425px) {
    .container {
        flex-direction: column;
        padding: 0 4px;
    }

    .image-container,
    .text-container {
        width: 100%;
        height: auto;
        padding: 0;
    }

    h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 375px) {
    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    h2 {
        font-size: 0.95rem;
    }

    h3 {
        font-size: 0.85rem;
    }
}