
@font-face {
    font-family: 'ludotek';
    src: url(/tipografias/LUDETEK\ MAYUS.otf) format('truetype');
}
@font-face {
    font-family: 'sourceSansProLight';
    src: url(/tipografias/SourceSansPro-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'sourceSansProRegular';
    src: url(/tipografias/SourceSansPro-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'sourceSansProBold';
    src: url(/tipografias/SourceSansPro-Bold.ttf) format('truetype');
}
:root {
    --color-blue: #003973;
    --color-dorado: #C7893E;
}
h1{
    font-family: "sourceSansProBold";
}
h2{
    
}
h3 {
    font-family: "sourceSansProRegular";
}
h4 {
    font-family: "sourceSansProRegular";
}
p {
    font-size: 16px;
    font-family: "sourceSansProRegular";
}



p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}











body {
    display: block;
    height: 100vh;

}



h2 {
    font-family: 'Ludotek';
    margin: 20px;
    color: var(--color-blue);
}

section.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
section.galeria .row{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0;
}

section.galeria .row p{
    color: #333;
}

section.galleryBtn {
    padding-top: 10px;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}




section.galleryBtn .infoGallery {
    width: 100%;
    padding: 20px 100px;
    padding: 30px 0;
    display: block;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}


label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}















section.cartas {
    font-family: 'Arial', sans-serif;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 25px 0;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 100px;
    justify-content: center;
}


.flip-card {
    display: flex;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-front img {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.flip-card-back img {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.flip-card-inner {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 3px 7px rgb(0, 58, 115);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    transform: rotateY(180deg);
}


/* Media queries para ajustar el tamaño de las cartas según el tamaño de la pantalla */
@media (max-width: 768px) {
    .card {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 60%;
    }
    section.galeria .row{
        width: 90%;
    }
}


@media (max-width: 995px) {
    .card {
        width: 200px;
        height: 150px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 975px) {
    .container {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 576px) {
    .card {
        height: 150px;
    }
}














section.galletyBtn,
section.galletyBtn:after,
section.galletyBtn:before {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
    --radius: 8px;
    --border: 4px;
    --height: 48px;
    --speed: 0.25s;
}

.container {
    background-color: white;
    display: grid;
    place-items: center;
    min-height: 10vh;
    align-content: center;
    gap: 2rem;
}

.tabs {
    height: var(--height);
    display: grid;
    grid-auto-flow: column;
    background: #003973;
    border-radius: var(--radius);
    grid-auto-columns: 1fr;
    position: relative;
    border: var(--border) solid #C7893E;
}

.tabs {
    --ease: linear(0, 0.1641 3.52%, 0.311 7.18%,
            0.4413 10.99%, 0.5553 14.96%,
            0.6539 19.12%, 0.738 23.5%,
            0.8086 28.15%, 0.8662 33.12%,
            0.9078 37.92%, 0.9405 43.12%,
            0.965 48.84%, 0.9821 55.28%,
            0.992 61.97%, 0.9976 70.09%, 1);
}

.tabs>input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 5px;
    margin: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.tabs:has(:checked:nth-of-type(1)) {
    --active: 0;
}

.tabs:has(:checked:nth-of-type(2)) {
    --active: 1;
}

.tabs:has(:checked:nth-of-type(3)) {
    --active: 2;
}

.tabs:has(:checked:nth-of-type(4)) {
    --active: 3;
}

.tabs :checked+label {
    --highlight: 1;
}

.tabs:has(input:nth-of-type(2)) {
    --count: 2;
}

.tabs:has(input:nth-of-type(3)) {
    --count: 3;
}

.tabs:has(input:nth-of-type(4)) {
    --count: 4;
}

.tabs label {
    padding: 0 clamp(0.5rem, 2vw + 0.25rem, 2rem);
    cursor: pointer;
    text-align: center;
    height: 100%;
    display: grid;
    border-radius: calc(var(--radius) - var(--border));
    place-items: center;
    color: white;
    transition: background, color;
    transition-duration: 0.25s;
    transition-timing-function: var(--ease, ease);
}

input:not(:checked)+label:hover {
    --highlight: 0.35;
    background: hsl(0 0% 20%);
}

.tabs::after {
    pointer-events: none;
    content: "";
    width: calc(100% / var(--count));
    height: 100%;
   /* background: hsl(0 0% 100%);*/
    position: absolute;
    border-radius: calc(var(--radius) - var(--border));
    mix-blend-mode: difference;
    translate: calc(var(--active, 0) * 100%) 0;
    transition: translate, outline-color;
    transition-duration: var(--speed);
    transition-timing-function: var(--ease, ease);
    outline: 2px solid transparent;
}

.tabs:has(:focus-visible)::after {
}





















html {
    font-family: "sourceSansProLight"
}

section.galeriaNueva {
    min-height: 100vh;
    padding-top: 150px;

}





.hero-portfolio--grid {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    position: relative;
    top: -10vh;
    margin: auto;

    justify-content: center;
    align-items: center;
}

.c-card {
    position: relative;
    overflow: hidden;
    margin: 0;
    transition: all 250ms ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 250px;

}

.c-card--figure {
    position: relative;
    width: 75%;
    height: 75%;
    margin: 0;
}

.c-card--image {
    max-width: 100%;
    object-fit: fill;
    justify-content: center;
    align-items: center;
    display: flex;
}

.c-card--name {
    position: absolute;
    top: auto;
    bottom: 1rem;
    left: 0.5rem;
    font-size: 1em;
    color: white;
    background-color: #003973;
    padding: 5px;
}

.c-card.no-focus {
    filter: grayscale(100%);
}

.c-card.is-focus .c-card--image {
    transition: all 250ms ease-in-out;
}

.ed-modal-content {
    width: auto;
    max-height: 90vh;
    min-width: 100%;
    margin: auto;
    position: relative;
    top: -3rem;
    opacity: 0;


    display: flex;
    justify-content: center;
    align-items: center;
}



.ed-modal-content--section {
    background-color: transparent;


    width:75%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ed-modal-content--image {
    object-fit: contain;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ed-modal-container {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;
    z-index: 2000;


    display: flex;
    justify-content: center;
    align-items: center;
}

.ed-modal-container::before {
    content: 'X';
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5em;
    opacity: .5;


    display: flex;
    justify-content: center;
    align-items: center;
}

.ed-modal-container:hover::before {
    cursor: pointer;
    opacity: 1;



    display: flex;
    justify-content: center;
    align-items: center;
}

.ed-modal-container.is-active {
    animation-name: modalInyect;
    animation-duration: 340ms;
    opacity: 1;
    


    display: flex;
    justify-content: center;
    align-items: center;
}

.ed-modal-container.is-active .ed-modal-content {
    animation-name: modalInyectContent;
    animation-duration: 540ms;
    top: 0;
    opacity: 1;



    display: flex;
    justify-content: center;
    align-items: center;
}

.ed-modal-container.is-remove {
    animation-name: modalRemove;
    animation-duration: 340ms;
}

.ed-modal-container.is-remove .ed-modal-content {
    animation-name: modalRemoveContent;
    animation-duration: 340ms;



    display: flex;
    justify-content: center;
    align-items: center;
}

.c-menuBurguer {
    position: relative;
    display: block;
    cursor: pointer;
    width: 30px;
    margin: auto;
    transition: transform 150ms ease-in-out;



    display: flex;
    justify-content: center;
    align-items: center;
}

.c-menuBurguer--Item {
    display: block;
    width: 30px;
    height: 3px;
    margin: 0 0 5px;
    background-color: var(--color_2-dark);
    transition: transform 150ms ease-in-out;
}

.c-menuBurguer:hover .c-menuBurguer--Item:nth-child(2) {
    transform: translateX(5px);
}

.c-menuBurguer.is-active .c-menuBurguer--Item:first-child {
    width: 30px;
    transition-delay: 0.2s;
    transform: rotate(45deg);
    transform-origin: 10% 0%;
}

.c-menuBurguer.is-active .c-menuBurguer--Item:nth-child(2) {
    transform: translateX(40px);
    opacity: 0;
}

.c-menuBurguer.is-active .c-menuBurguer--Item:nth-child(3) {
    width: 30px;
    transition-delay: 0.4s;
    transform: rotate(-45deg);
    transform-origin: 10% 100%;
}

@keyframes modalRemove {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes modalRemoveContent {
    from { opacity: 1; top: 0; }
    to   { opacity: 0; top: -3rem; }
}

@keyframes modalInyect {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes modalInyectContent {
    from { opacity: 0; top: -3rem; }
    to   { opacity: 1; top: 0; }
}
