* {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'ludotek';
    src: url(/tipografias/LUDETEK\ MAYUS.otf) format('truetype');
}
@font-face {
    font-family: 'sourceSansProLight';
    src: url(/tipografias/SourceSansPro-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'sourceSansProRegular';
    src: url(/tipografias/SourceSansPro-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'sourceSansProBold';
    src: url(/tipografias/SourceSansPro-Bold.ttf) format('truetype');
}
:root {
    --color-blue: #003973;
    --color-dorado: #C7893E;
}
h1{
    font-family: "sourceSansProRegular";
	text-align: center;
	letter-spacing: 1px;
	padding: 10px 30px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
h2{
	font-family: "ludotek";
	color: var(--color-blue);

    text-align: center;
    line-height: 35px;
}
h3 {
    font-family: "sourceSansProRegular";
}
h4 {
    font-family: "sourceSansProRegular";
}
section.fases .row p {
	color: #666;
    font-size: 18px;
    font-family: "sourceSansProRegular";
}


h2{
	text-align: center;
	letter-spacing: 1px;
	padding: 10px 30px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	display: block;
	height: 100vh;
	background-color: #e1e1e1;
	
}
section.fases{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
section.fases .row{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0;
}



section.fases_2 {
	display: flex;
}
.container {
	max-width: 1200px;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	width: calc(33.33% - 20px);
	margin: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 57, 115, 0.5);
	overflow: hidden;
}
.card:hover .image {
	transform: scale(1.1);
	transition: 0.5s;
}
.card:hover  {
	box-shadow: 0 2px 5px rgba(0, 57, 115, 2);

}
.image {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease;
}

.image1 {
	background-image: url("/img/dispo1.jpg");
}

.image2 {
	background-image: url("/img/digi.jpg");
}

.image3 {
	background-image: url("/img/resta.jpeg");
}

.image4 {
	background-image: url("/filminas/chim2.png");
}




.content {
	padding: 25px 20px;
}

.title {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}

.description {
	color: #666;
	line-height: 1.5;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.icon {
	display: flex;
	align-items: center;
}

.icon i {
	margin-right: 5px;
}

.author {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 20px;
}

.author img {
	width: 15%;
	margin-right: 10px;
}

.verMas {
	background-color: #C7893E;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	text-decoration: none;
	font-family: "sourceSansProRegular";
}

.verMas:hover {
	background-color: #003973;
}

/* Responsive design */

@media (max-width: 992px) {
	.card {
		width: calc(50% - 20px);
	}
}

@media (max-width: 768px) {
	.card {
		width: 100%;
		margin: 20px 0;
		margin: 10px;

	}
}
